:root{
    --red-color: rgb(170, 0, 0);
    --green-color: rgb(0, 170, 0);
    --purple-color: rgb(128, 0, 128);
    --yellow-color: rgb(170, 170, 0);
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
h1{
    color: hsl(198, 100%, 26%);
    position: absolute;
    top: 20px;
}
body{
    background-color: gainsboro;
}
.score{
    position: absolute;
    background-color: hsl(198, 100%, 26%);
    color: whitesmoke;
    padding: 10px;
    border-radius: 40px;
    top: 5.6rem;
    right: 5rem;
}
@media (max-width: 820px){
    .score{
        right: auto;
        top: 5rem;
        padding: 8px;
        font-size: 1rem;
    }
    .box{
        border-top: 130px solid var(--red-color);
        border-left: 130px solid var(--green-color);
        border-right: 130px solid var(--purple-color);
        border-bottom: 130px solid var(--yellow-color);
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    height: 100vh;
    width: 100%;
    gap: 30px;
}
h3{

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    padding: auto;
    height: 7.6rem;
    width: 8rem;
    border-top: 150px solid var(--red-color);
    border-left: 150px solid var(--green-color);
    border-right: 150px solid var(--purple-color);
    border-bottom: 150px solid var(--yellow-color);
    border-radius: 50%;
    margin: 10px;
    background-color: rgb(0, 135, 148);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    height: 7.6rem;
    width: 8rem;
    color: white;
    border-radius: 50%;
    background-color:rgb(0, 140, 153);
    border: 2px solid white;
    transition: 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button:hover{
    background-color:rgb(1, 110, 120);
}
.btn{
    padding: 3.9rem;
    border: none;
    border-radius: 50%;
}
.red{
    position:absolute;
    height: 9rem;
    border-left: 6rem solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 0, 0, 0);
    transform: translate(0, -8.5rem);
}
.purple{
    position:absolute;
    width: 9rem;
    border-top: 6rem solid rgba(0, 0, 0, 0);  
    background-color: rgba(0, 0, 255, 0);
    transform: translate(8.5rem, 0);
}
.green{
    width: 9rem;
    border-top: 6rem solid rgba(0, 0, 0, 0);  
    position:absolute;
    background-color: rgba(0, 128, 0, 0);
    transform: translate(-8.5rem, 0);
}
.yellow{
    height: 9rem;
    border-left: 6rem solid rgba(0, 0, 0, 0);
    position:absolute;
    background-color: rgba(255, 255, 0, 0);
    transform: translate(0, 8.5rem);
}
@media (max-width: 820px){
    .score{
        right: auto;
        top: 5rem;
        padding: 8px;
        font-size: 1rem;
    }
    .box{
        border-top: 130px solid var(--red-color);
        border-left: 130px solid var(--green-color);
        border-right: 130px solid var(--purple-color);
        border-bottom: 130px solid var(--yellow-color);
    }
}